.gallery-item{
  width: 100%;
  margin-top: 2rem;
}

.gallery-section{
  padding: 2rem;  
}

.gallery-back{
  background-color: #F4F4F4;
}

.pills-content-gallery{ 
  display: block;
  margin: 0 auto;
}

.gallery-title{
  background-color: #00415b;
  padding: 4rem;
  color: #F4F4F4;
}

.tabs-content-gallery {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center !important;
}

.nav-pill-list{
  padding-left: 2.7rem;
}
